*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Questrial', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #666;
}

h1 {
  color: #fff;
  margin-bottom: 10px;
}

.screen {
  width: 60%;
  height: 500px;
  cursor: pointer;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  color: #fff;
  padding: 10px;
  background-color: #333;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.controls .btn {
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.controls .fa-play {
  color: #28a745;
}

.controls .fa-stop {
  color: #dc3545;
}

.controls .fa-pause {
  color: #fff;
}

.controls .timestamp {
  color: #fff;
  margin-left: 10px;
  font-weight: bold;
}

.btn:focus {
  outline: none;
}

@media (max-width: 800px) {
  .screen, .controls {
    width: 90%;
  }
}