*, *::after, *::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  font-family: 'Questrial', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #666;
}

h1 {
  color: #fff;
}

.screen {
  width: 50%;
  height: 500px;
  cursor: pointer;
  background-color: #000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}