 *, *::after, *::before {
  box-sizing: border-box;
 }

html {
  font-family: sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  height: 100vh;
  color: #fff;
  overflow: hidden;
  background-color: #34495e;
}

h1 {
  margin: 20px 0 0;
}

.game-container {
  position: relative;
  margin: auto;
  width: 450px;
  height: 350px;
  padding: 20px 30px;
}

.figure-container {
  stroke: #fff;
  stroke-width: 4px;
  fill: transparent;
  stroke-linecap: round;
}

.figure-part {
  display: none;
}

.wrong-letters-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.wrong-letters-container p {
  margin: 0 0 5px;
}

.wrong-letters-container span {
  font-size: 24px;
}

.word {
  display: flex;
  position: absolute;
  left: 50%;
  bottom: 10px;
  transform: translateX(-50%);
}

.letter {
  display: inline-flex;
  align-content: center;
  justify-content: center;
  width: 20px;
  height: 50px;
  margin: 0 3px;
  font-size: 30px;
  border-bottom: 3px solid #2980b9;
}

.popup-container {
  display: none;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.popup {
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  background-color: #2980b9;
  box-shadow:  0 15px 10px 3px rgba(0, 0, 0, 0.1);
}

.popup button {
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
  color: #2980b9;
  padding: 12px 20px;
  background-color: #fff;
}

.popup button:active {
  transform: scale(0.98);
}

.popup button:focus {
  outline: none;
}

.notification-container {
  position: absolute;
  bottom: -50px;
  padding: 15px 20px;
  border-radius: 10px 10px 0 0;
  transition: transform 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
}

.notification-container p {
  margin: 0;
}

.notification-container.show {
  transform: translateY(-50px);
}